


footer{
	height:50px;   
    background-color: #516079;
	
}
footer ul{
	display: flex;
	list-style-type: none;
	justify-content: center;
	
}	
footer li {	
	padding-right:10px ;
	padding-top: 5px;
}

footer img{
	width: 20px;
}
h4 {
	text-align: center;
	font-size: 0.8em;
	margin-left: 25px;
}

*{
padding: 0;
    margin: 0;
}

body{
    background-color: whitesmoke;
}

header{
    background-color: aqua;
    
}

header h1{
    text-align: center;
    padding: 1.5rem;
    color: white;
   text-shadow: 5px 5px 5px gray;
}


nav ul{
   display: flex;
   flex-direction: row;
   list-style: none;
   justify-content: space-evenly;
}

nav li a{
    text-decoration: none;
    display: flex;
    padding: 1rem;
    background-color: rgb(70, 31, 179);
    border-radius: 10px 10px 10px;
    color: whitesmoke;
   
}

main>h1{
    text-align: center;
    padding: 1.5rem;
}






.carousel{
    display: flex;
    flex-direction: column;
}

.carousel img{
    width: 80%;
    padding: 10%;
}

.description
{
    text-align: center;
  padding: 10%;
  padding-top: 0;
  background-color: white;
  border-radius: 10px 10px 10px
}

